mixin prefooter()
    +b.SECTION.prefooter
        +inner
            +e.content
                +e.ball-decor
                +tags
                +e.H2.title Запись на обучение
                +e.H3.subtitle Для регистрации перейдите в Skill-Branch Bot и выполните инструкции
                +e.date
                    +e.date-decor
                    +b.date-in-circle
                        +e.P.description
                            +e.SPAN.description-label Старт:
                            +e.SPAN.month 30 августа
                            +e.SPAN.year 2019
                +discount
                +e.row
                    +e.form
                        +prefooter-form
                    +e.advantages
                        +prefooter-advantages