mixin socials()
    +b.SECTION.socials
        +e.H2.title Порекомендуйте курс друзьям:
        +e.UL.list
            +e.LI.item
                +e.A.link(href='#')
                    +icon('telegram')
            +e.LI.item
                +e.A.link(href='#')
                    +icon('vk')
            +e.LI.item
                +e.A.link(href='#')
                    +icon('facebook')
            +e.LI.item
                +e.A.link(href='#')
                    +icon('youtube')
            +e.LI.item
                +e.A.link(href='#')
                    +icon('linkedin')
            +e.LI.item
                +e.A.link(href='#')
                    +icon('twitter')
            +e.LI.item
                +e.A.link(href='#')
                    +icon('yandex')