.tags {
    display: flex;
    margin-bottom: 25px;

    font-family: $font;

    &__item {
        position: relative;
        padding: 0 15px;
        border-right: 1px solid #848484;

        color: $secondary-color;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.2em;


        &:last-child {
            border-right: none;
        }

        &--active {
            color: #fff;

            &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                background-color: $green-color;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 768px) {
    .tags {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .tags {
        &__item {
            font-size: 12px;
        }
    }
}
