mixin timer-component()
    +b.SECTION.timer-component
        +e.P.description До окончания скидки 20% 
        +b.timer
            +e.scope
                +e.count 26
                +e.label дней
            +e.scope
                +e.count 12
                +e.label часов
            +e.scope
                +e.count 18
                +e.label минут
            +e.scope
                +e.count 45
                +e.label секунд