mixin discount()
    +b.SECTION.discount
        +e.inner
            +e.price
                +e.STRONG.new-price 35000руб.
                +e.SPAN.prev-price 60000руб
            +e.timer
                +timer-component