include template/header
include template/footer
include ../blocks/**/*
doctype
html(lang='ru')
    +doc-header
    body.pageload.no-js
        +top-screen
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        +certificate
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        +cases
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        +prefooter
    +doc-footer