mixin certificate()
    +b.SECTION.certificate 
        +inner
            +e.wrapper
                +e.ball-decor
                +e.content
                    +e.H2.heading Сертификат подтверждающий практические навыки
                    +e.P.highlight Не тяните – спросите!
                    +e.P.text Воспользуйтесь консультацией специалистов, чтобы сдвинуть дело с мертвой точки, узнать «второе» мнение и получить квалифицированную поддержку IT-специалистов.
                    +e.BUTTON.button(type='button') Оставить заявку
                +e.image
                    img(src="images/certificate.jpg", alt="")