mixin cases()
    +b.SECTION.cases
        +inner
            +e.H2.title Практические кейсы курса 
            +e.wrapper
                +e.image.--first.case1-image
                    img(src="images/cases/case1.png", alt="")
                +e.content.--first.case1-content
                    +e.H3.heading Мобильный блог на Android
                    +e.P.text В данном курсе основной акцент сделан на разработку Android-приложения на языке Kotlin. В процессе обучения вы создадите клиент-серверное приложение, позволяющее просматривать, оценивать, комментировать понравившиеся статьи, а также локализировать и добавлять новый интересующий вас контент с иностранных ресурсов (FireBase ML Kit). Это поможет освоить принципы и инструменты, применяемые при разработке современных мобильных приложений для платформы Android, и возможности FireBase Machine Learning.
                +e.image.--second.case2-image
                    img(src="images/cases/case2.png", alt="")
                +e.content.--second.case2-content
                    +e.H3.heading Приложение службы доставки<br>в твоё портфолио!
                    +e.P.text Данная квалификационная работа предполагает создание приложения службы доставки еды и его удаленную стилизацию с применением FireBase Remote Config и оценки эффективности пользовательского UX. Особое внимание будет уделяться применению Push Notification и Deep linking. Это позволит освоить инструменты, используемые при разработке современных Ecommerce-приложений для платформы Android.
                
                