mixin flutter-advantages()
    +b.SECTION.flutter-advantages
        +inner
            +e.H2.title Преимущества Flutter
            +e.wrapper
                +e.main
                    +e.UL.list
                        +e.LI.item
                            +e.icon
                                include ../../../app/images/flutter-advantages/icon1.svg
                            +e.data
                                +e.heading Мультиплатформенная разработка
                                +e.P.text Поскольку Flutter является мультиплатформенным, вы можете использовать одну и ту же кодовую базу для вашего приложения Android и iOS
                        +e.LI.item
                            +e.icon
                                include ../../../app/images/flutter-advantages/icon2.svg
                            +e.data
                                +e.heading Эффектные Анимации в 60 FPS
                                +e.P.text Dart компилируется в машинный код, поскольку Flutter отрисовывает весь пользовательский интерфейс сам в 60 FPS. И позволяет создавать эффектные и плавные анимации
                        +e.LI.item
                            +e.icon
                                include ../../../app/images/flutter-advantages/icon3.svg
                            +e.data
                                +e.heading Быстрая и простая разработка
                                +e.P.text Одной из самых похвальных особенностей Flutter является hot-reload, которая позволяет мгновенно просматривать изменения, внесенные в код, на эмуляторах, симуляторах и аппаратном обеспечении
                        +e.LI.item
                            +e.icon
                                include ../../../app/images/flutter-advantages/icon4.svg
                            +e.data
                                +e.heading Open-source
                                +e.P.text Как Flutter, так и Dart имеют открытый исходный код, а также предоставляют обширную документацию и поддержку сообщества как на русском, так и на английском языках
                        +e.LI.item
                            +e.icon
                                include ../../../app/images/flutter-advantages/icon5.svg
                            +e.data
                                +e.heading Единый интерфейс
                                +e.P.text Ваше новое приложение будет выглядеть одинаково даже на старых версиях Android и iOS систем. Нет никаких дополнительных затрат на поддержку старых устройств
                    +e.decor
                        include ../../../app/images/flutter-advantages/full.svg
                    +e.mobile-decor
                        include ../../../app/images/flutter-advantages/mobile-decor.svg
                +e.aside
                    +e.aside-inner
                        +e.aside-content
                            +e.H3.subtitle Первый  онлайн-курс в Рунете
                            +e.stack
                                +e.stack-image.--flutter
                                    img(src='images/flutter-advantages/flutter.png')
                                +e.stack-image.--dart
                                    img(src='images/flutter-advantages/dart.png')
                            +e.BUTTON.order Записаться
                    