mixin top-screen()
    +b.SECTION.top-screen
        +inner
            +e.content
                +e.ball-decor
                
                +tags
                +e.H1.title Обучающий курс<br> Middle Android Developer<br> на Kotlin
                +e.H2.subtitle Продвинутый уровень. <br> Для разработчиков с опытом
                +e.date
                    +e.date-decor
                    +b.date-in-circle
                        +e.P.description
                            +e.SPAN.description-label Старт:
                            +e.SPAN.month 30 августа
                            +e.SPAN.year 2019
                +discount
                +e.A.appeal(href='#') Записаться
                +socials