mixin prefooter-advantages()
    +b.SECTION.prefooter-advantages
        +e.item
            +e.icon
                +icon('payment1', 'fill')
            +e.label Возможна оплата частями 
        +e.item
            +e.icon
                +icon('payment2', 'fill')
            +e.label Оплата от <br>юр.лица
        +e.item
            +e.icon
                +icon('payment3', 'fill')
            +e.label Бонусы по реферальной программе